.tall-section {
    min-height: 1000px; 
    background-color: #000000; 
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.322);
    }

        /*Style pour le menu mobile*/
@media (max-width: 767px) { 
    #mobile-menu-content {
        background-color: #535151;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        border-top: 5px solid #ff9800;
    }
            /* Liens du menu mobile */
    #mobile-menu-content li a {
        color: rgb(184, 112, 5); 
        text-align: center;
        border-bottom: 1px solid #555;
        padding: 15px;
        transition: background-color 0.2s;
        }

    #mobile-menu-content li a:hover {
        background-color: #555;
        }
    }
        
    .navbar {
    margin-bottom: 0;
    border-radius: 0;
    }

    .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    color: #797878 !important;
    }

    .navbar-nav {
    float: right;
    }

